@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&family=Poppins:ital,wght@0,400;0,700;1,300;1,700&family=Roboto:ital,wght@0,400;0,700;0,900;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Oswald" sans-serif;
  box-sizing: border-box;
}

@media only screen and (max-width: 480px) {
  .container header {
    background-color: rgb(240, 168, 62);
  }
  .container header .barra-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: black;
    color: white;
  }
  .container header .barra-top .value ul {
    list-style: none;
  }
  .container header .barra-top .value ul li a {
    text-decoration: none;
    color: white;
  }
  .container header .barra-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  .container header .barra-principal ul {
    list-style: none;
  }
  .container header .barra-principal ul a {
    text-decoration-line: none;
    color: white;
  }
  .container header .barra-principal ul a:hover {
    text-decoration: underline;
    color: antiquewhite;
  }
  .container .banner {
    display: flex;
    justify-content: center;
    height: 417px;
    margin-bottom: 40px;
    background-image: url(/images/banner-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
  }
  .container .banner h1 {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 25px;
    font-weight: 400;
    background-color: white;
  }
  .container .banner .text {
    margin-top: 150px;
    width: 300px;
    text-align: end;
  }
  .container .banner .descuento {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .container .banner .banner .buttom {
    padding: 10px;
    color: white;
    border: none;
    background-color: rgb(240, 168, 62);
  }
  .container .productos {
    text-align: center;
    margin-bottom: 50px;
  }
  .container .productos .section img {
    width: 100px;
  }
  .container .productos .section h2 {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    color: #3C2313;
  }
  .container .productos .section .nav {
    margin-bottom: 40px;
  }
  .container .productos .section .nav ul {
    display: flex;
    justify-content: center;
    gap: 30px;
    list-style: none;
  }
  .container .productos .section .nav ul a {
    text-decoration: none;
    color: gray;
  }
  .container .productos .cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
  .container .productos .cards .card {
    width: 265px;
    text-align: center;
    background-color: ghostwhite;
    box-shadow: -1px 2px 14px -1px rgba(0, 0, 0, 0.75);
  }
  .container .productos .cards .card .description {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(60, 35, 19);
  }
  .container .productos .cards .card .productos .price {
    color: rgb(240, 168, 62);
    padding-bottom: 20px;
  }
  .container .productos .cards .card .productos .price:hover {
    text-decoration: underline;
    color: #000;
  }
  .container .contacto {
    text-align: center;
    margin-bottom: 40px;
  }
  .container .contacto legend {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    color: rgb(60, 35, 19);
  }
  .container .contacto .formulario input {
    margin-bottom: 10px;
    padding: 13px 55px;
    font-size: 10px;
    color: white;
    border-radius: 15px;
    background-color: rgb(60, 35, 19);
  }
  .container .contacto .button {
    padding: 10px 55px;
    border: none;
    border-radius: 15px;
  }
  .container .contacto .buttongray {
    background-color: gray;
  }
  .container .contacto .button-orange {
    background-color: orange;
  }
  .container footer {
    background-color: rgb(60, 35, 19);
    text-align: start;
  }
  .container footer .envio-img {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    gap: 15px;
    background-color: #F0A83E;
  }
  .container footer .envio-img h3 {
    padding-right: 70px;
    font-size: 20px;
    font-weight: bold;
    color: white;
  }
  .container footer .envio-img .email {
    padding: 11px 40px;
    border: none;
    border-radius: 15px;
  }
  .container footer .envio-img .enviar {
    padding: 7px 7px;
    font-size: 15px;
    border: none;
    border-radius: 15px;
    color: white;
    background-color: #3C2313;
  }
  .container footer .social {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-top: 20px;
  }
  .container footer .social ul {
    list-style: none;
  }
  .container footer .social ul li {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }
  .container footer .social ul li a {
    color: white;
    text-decoration: none;
  }
  .container footer .social ul li span {
    color: white;
    display: block;
  }
  .container footer p {
    font-size: 16px;
    color: white;
    background-color: #222222;
  }
}
.container header .barra-top {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  background-color: black;
  color: white;
}
.container header .barra-top .value ul > a {
  display: flex;
  text-decoration: none;
  color: white;
  gap: 25px;
}
.container header .barra-principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 35px;
  height: 70px;
  background-color: #F0A83E;
}
.container header .barra-principal ul {
  list-style: none;
}
.container header .barra-principal .menu ul {
  display: flex;
  gap: 20px;
}
.container header .barra-principal .menu ul a {
  font-size: 18px;
  text-decoration-line: none;
  color: white;
}
.container header .barra-principal .menu ul a:hover {
  text-decoration: underline;
  color: antiquewhite;
}
.container .banner {
  position: relative;
  height: 417px;
  background-image: url(/images/banner-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.container .banner .text {
  position: absolute;
  top: 40%;
  left: 63%;
}
.container .banner .text h1 {
  margin-bottom: 10px;
  padding: 10px;
  font-size: 30px;
  font-weight: 400;
  background-color: white;
}
.container .banner .text .descuento {
  margin-bottom: 5px;
  font-size: 16px;
}
.container .banner .text .buttom {
  padding: 10px;
  background-color: rgb(240, 168, 62);
}
.container .productos {
  margin-bottom: 100px;
}
.container .productos .section {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align: center;
}
.container .productos .section h2 {
  margin: 0;
  font-size: 34px;
  font-weight: bold;
  color: rgb(60, 35, 19);
}
.container .productos .section .productos .nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style: none;
}
.container .productos .section .productos .nav ul a {
  text-decoration: none;
  color: gray;
}
.container .productos .section .cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.container .productos .section .cards .card {
  text-align: center;
  box-shadow: 1px 6px 29px 1px rgba(0, 0, 0, 0.5);
}
.container .productos .section .cards .card .description {
  font-size: 15px;
  font-weight: bold;
  color: rgb(60, 35, 19);
}
.container .contacto legend {
  margin-bottom: 30px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  color: #3C2313;
}
.container .contacto .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .contacto .formulario .input {
  margin-bottom: 10px;
  width: 410px;
  height: 50px;
  padding-left: 20px;
  font-size: 10px;
  color: white;
  border: none;
  border-radius: 15px;
  background-color: rgb(60, 35, 19);
}
.container .contacto .button {
  margin-top: 20px;
  margin-right: 15px;
  padding: 10px 50px;
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 30px;
}
.container .contacto .button.gray {
  background-color: gray;
}
.container .contacto .button.orange {
  background-color: orange;
}
.container footer {
  background-color: rgb(60, 35, 19);
  text-align: start;
}
.container footer ul {
  list-style: none;
}
.container footer ul li span {
  color: white;
  display: block;
}
.container footer ul li a {
  color: white;
  text-decoration: none;
}
.container footer footer p {
  background-color: black;
  color: white;
  text-align: center;
}
.container footer .envio-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #F0A83E;
}
.container footer .envio-img img {
  margin-right: 28px;
  width: 60px;
}
.container footer .envio-img h3 {
  margin-right: 500px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.container footer .envio-img .email {
  padding: 12px 20px;
  border: none;
  border-radius: 35px;
}
.container footer .envio-img .enviar {
  margin-left: 40px;
  padding: 7px 7px;
  font-size: 15px;
  border: none;
  border-radius: 15px;
  color: white;
  background-color: #3C2313;
}
.container footer .social {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 125px;
  padding-top: 35px;
}
.container footer .social .logo-white {
  position: absolute;
  content: "";
  right: 100px;
  bottom: 160px;
  width: 260px;
}
.container footer .social ul li {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}/*# sourceMappingURL=style.css.map */